#cardProducto {
    width: 288px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#cardProductoInterna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#caja_uno {
    display: flex;
    flex-direction: row;
}

#caja_uno button{
    margin-left: 10PX;
}

#caja_botones  {
    display: flex;
    justify-content: start;
}

nav{
    background-color: yellow;
}

body {
    background-color: rgb(241, 239, 239);
}


.jewelery {
    background-color: rgb(169, 166, 166);
}

.electronics {
    background-color: rgb(212, 162, 76); 
}

.women {
    background-color: rgb(224, 108, 209);
}

.men {
    background-color: rgb(94, 182, 220); 
}

.row-inline {
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
  
  .row-inline h5,
  .row-inline p {
    margin: 0 10px; 
  }
