:root{
    --index-background: rgb(241, 239, 239);
    --nav-background: yellow;
    --jewelery-background: rgb(169, 166, 166);
    --electronics-background: rgb(212, 162, 76);
    --men-background: rgb(94, 182, 220);
    --women-background: rgb(224, 108, 209);
    }

#cardProducto {
    width: 288px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#cardProductoInterna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#crearDetalleProductoDiv {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#crearDetalleProductCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#crearDetalleProductBotonera  {
    display: flex;
    justify-content: start;
}

#caja_uno {
    display: flex;
    flex-direction: row;
}

#caja_uno button{
    margin-left: 10PX;
}

nav{
    background-color: var(--nav-background);
}

body {
    background-color: var(--index-background) ;
}

.jewelery {
    background-color: var(--jewelery-background) ;
}

.electronics {
    background-color: var(--electronics-background) ; 
}

.women {
    background-color: var(--women-background) ;
}

.men {
    background-color: var(--men-background) ; 
}

.lineaTotales {
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
  
  .lineaTotales h5,
  .lineaTotales p {
    margin: 0 10px; 
  }
